@import "bourbon/bourbon";
@import "neat/neat";

section {
  width: 100%;
}

.photo {
  width: 33.3%;
  margin: 0;
  overflow: hidden;
  @include span-columns(4);
  img {
    width: 100%;
    margin: 0;
  }
  &:hover {
    @include transform(scale(1.05));
    transition: (all 1s ease-in-out);
  }
}

.text-box {
  width: 100%;
  text-align: center;
  span {
    padding: 2rem;
    font-size: 1.5rem;
    display: inline-block;
    font-family: sans-serif;
  }
}

@media screen and (max-width:500px) {
  .image1 {
    @include span-columns(12);
    img {
      width: 100%;
    }
  }
  .image2, .image3 {
    display: none;
  }
  .text-box {
    span {
      font-size: 1rem;
    }
  }
}
