@import "bourbon/bourbon";
@import "neat/neat";
@import "variables";

body {
  font-family: $primary-font;
}

header {
    background-image: url("https://images.unsplash.com/photo-1428609827105-cb7aa6289cbd?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=2a03c1429073df1ee705078a8dd5f65c");
    background-size: cover;
    background-position: bottom;
    height: 24rem;
}

.logo-wrapper {
  width: 100%;
  margin: 0 auto;
  display: block;
}

.logo {
    width: 70px;
    height: 70px;
    padding: 15px;
    border-radius: 50%;
    background: $white;
    margin: 0.5rem 0 0 1%;
}

h1 {
    text-align: center;
    width: 100%;
    font-size: 6rem;
    letter-spacing: 7px;
    color: $secondary-color;
    margin: 0;
    font-family: $primary-font;
}

.slogan {
    text-align: center;
    width: 100%;
    margin: 2rem auto;
    font-size: 2rem;
    color: $color3;
}

.photo-wrapper {
        width: 100%;
        height: 247px;
        padding-top: 2rem;
        background: $color3;
    }

.photo {
  width: 33.3%;
  margin: 0;
  overflow: hidden;
  @include span-columns(4);
  img {
    width: 100%;
    margin: 0;
  }
    &:hover {
        @include transform(scale(1.05));
        transition: (all 1s ease-in-out);
    }
  }

  .text-box {
    width: 100%;
    text-align: center;
    padding-top: 1rem;
    background: $color3;
    span {
        padding: 2rem;
        font-size: 1.5rem;
        display: inline-block;
        font-family: $primary-font;
      }
    }

    .visit, .phone, .email {
      color: $color4;
    }

    footer {
        width: 100%;
    }
    .visit {
        text-align: center;
        font-size: 40px;
        width: 60%;
        margin: auto;
    }
    .phone {
        text-align: center;
        font-size: 30px;
        font-weight: bold;
    }
    .email {
        text-align: center;
        font-size: 30px;
        font-weight: bold;
    }
    .date {
        background: $color4;
        width: 100%;
        text-align: center;
    }
    .date p {
        font-size: 2em;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }

    @media screen and (max-width: 700px) {
      h1 {
        font-size: 5rem;
      }
      .photo-wrapper {
        height: 155px;
      }
    }

    @media screen and (max-width: 600px) {
      h1 {
        font-size: 4rem;
      }
      .photo-wrapper {
        height: 355px;
        padding-top: 2rem;
      }
      .visit {
        font-size: 30px;
      }
      .email {
        font-size: 20px;
      }
    }

    @media screen and (max-width:500px) {
        .image1 {
            @include span-columns(12);
        }
        .image2,
        .image3 {
            display: none;
        }
        .text-box {
            display: none;
        }
        .photo img {
            width: 100%;
        }
    }
