$font-stack:    Verdana, sans-serif;




footer{
  width:100%;

}


footer {

  .visit {
    text-align: center;
    font-size: 40px;
    width:60%;
    margin: auto;
  }

  .phone {
text-align: center;
font-size: 30px;
font-weight: bold;
   }

.email{
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}


  .date {
  background:gray;
  width:100%;
  text-align: center;
  }

.date p {
  font-size: 2em;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}


}
